[Desktop Entry]
Type=Application
Name=Wolf Tools Setup (Run)
Exec=/home/retro/bin/wolf-tools-setup-ui
OnlyShowIn=XFCE;
Terminal=false
Categories=Utility;
