[Desktop Entry]
Type=Application
Name=Wolf Tools First Boot
Exec=/home/retro/.local/bin/wolf-tools-firstboot
OnlyShowIn=XFCE;
Terminal=false
X-GNOME-Autostart-enabled=true
Hidden=false
