[Desktop Entry]
Type=Application
Name=Wolf Tools First Boot (Run)
Exec=/home/retro/.local/bin/wolf-tools-firstboot
OnlyShowIn=XFCE;
Terminal=false
Categories=Utility;
